*{
    
}


.logoheading{
    margin: 1.5px;
    padding: 1px;
}

.logo{
    float: left;
    text-align: left;
    padding: 1px;
}

.heading{
    text-align: left;
    margin: 5px;
}



ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: black;
}
ul li{
    float: left;
    width: 200px;
    height: 40px;
    margin-right: 15px;
    background-color: black;
    height: 40px;
    opacity: .8;
    text-align: center;
    color: white;
    padding: 6px 0px;
}

ul li a{
    text-decoration: none;
    display: block;
    color: white;
}

ul li a:hover{
    background-color: lightgreen;
}

ul li ul li{
    display: none;
}

ul li:hover ul li{
    display: block;
    
}

.col-md-4{
    float: left;
}
.single-portfolio{
    position: relative;
    overflow: hidden;

}

.portfolio-img{
    float: left;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.portfolio-text{
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background: rgb(0,0,0.7 );
    color: #fff;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform:translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.portfolio-text p{
    text-align: justify;
}

.single-portfolio: :hover .portfolio-text{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform:translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.single-portfolio:hover .portfolio-img{
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform: scale(1.15);

}

.contain{
    width:1200px;
    min-height: 500px;
    
    margin:70px auto 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box{
    margin-bottom: 20px;
    margin-right:20px;
    margin-left: 20px;
    margin-top:20px;
}
.contain.box{
    position: relative;
    width:180px;
    height: 180px;
    background:burlywood;
    margin:10px;
    box-sizing: border-box;
    display:inline-block;

}
.contain.box.imgBox{
    position: relative;
    overflow: hidden;
}
.contain.box.imgBox img{
    max-width:100%;
    transition: transform 2s;
}
.contain.box:hover.imgBox img{
transform:scale(1.2);
}
.contain.box.details{
    position: absolute;
    top: 10px;
    left:10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
}
contain.box.details.content{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    text-align: center;
    padding:15px;
    color:#142b47;

}

.single-portfolio{
    position: relative;
    overflow: hidden;
}

.portfolio-img{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.portfolio-text{
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background: rgb(0,0,0.7 );
    color: #fff;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform:translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.portfolio-text p{
    text-align: justify;
}

.single-portfolio: :hover .portfolio-text{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform:translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.single-portfolio:hover .portfolio-img{
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform: scale(1.15);

}